{% extends "layout.html.twig" %}

{% block content %}
<h1>Hello homepage</h1>
<p>you're on the homepage</p>

<ul>
  {% for user in users %}
    {% include "user.html.twig" with {'user': user} %}
  {% endfor %}
</ul>
{% endblock %}
